/* style for meta.php elements */

.my_meta_control { margin-left: 5px; }
.my_meta_control .description{ display:none; }
.my_meta_control label{ display:block; margin:4px; margin-bottom:0; margin-top:12px; font-size:14px;  width: 60%}
.my_meta_control label span{ display:inline; font-weight:normal; }
.my_meta_control span { color:#222222; display:block; font-weight: normal; }
.my_meta_control .totales{width: 60%; text-align: right; color:#B6B6B6; display:block;}
.my_meta_control .disabled{ color:#B6B6B6; }
.my_meta_control textarea, .my_meta_control input[type='text']{ margin-bottom:3px; width:60%; height: 2.2em; font-size: 13px; padding-left: 9px; padding-top: 4px;}
.my_meta_control h4{ color:#999; font-size:1em; margin:15px 6px; text-transform:uppercase; }
.my_meta_control .progressbar{ width:60%; background: white; }
.my_meta_control #description{height: 10em; }
.my_meta_control #txtarea_sinopsis{height: 10em; }

h3.hndle span {font-size:18px;}

select#seleccion_edades{ width: 60%; height: 2.2em; font-size: 13px; padding-top: 4px; }
select#seleccion_edades option{ height: 25px; padding-top: 10px; color:black;}
select#seleccion_edades option:hover { background-color: #93AAF6 }
#precio_venta{ margin-bottom: 20px; }