/**
 *
 * Custom styles para el dashboard (administradores)
 *
 */

@charset "utf-8";

input[type=date]{
	padding: 3px;
	border-color: #dfdfdf;
	width: 95% !important;
	height: 18px;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
    		border-radius: 4px;
}

