@charset 'utf-8';

/*
 .d8888b.           888                  888
d88P  Y88b          888                  888
888    888          888                  888
888         .d88b.  888  .d88b.  888d888 88888b.   .d88b.  888  888
888        d88""88b 888 d88""88b 888P"   888 "88b d88""88b `Y8bd8P'
888    888 888  888 888 888  888 888     888  888 888  888   X88K
Y88b  d88P Y88..88P 888 Y88..88P 888     888 d88P Y88..88P .d8""8b.
 "Y8888P"   "Y88P"  888  "Y88P"  888     88888P"   "Y88P"  888  888
*/
@font-face {
    font-family: 'lucida';
    src: url('../fonts/lhandw-webfont.eot');
    src: local('☺'),
        url('../fonts/lhandw-webfont.woff') format('woff'),
        url('../fonts/lhandw-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
#cboxTopLeft{width:15px; height:15px; background:#fff;}
#cboxTopRight{width:15px; height:15px; background:#fff;}
#cboxBottomLeft{width:15px; height:10px; background:#fff;}
#cboxBottomRight{width:15px; height:10px; background:#fff;}
#cboxMiddleLeft{width:15px; background:#fff;}
#cboxMiddleRight{width:15px;background:#fff;}
#cboxTopCenter{height:15px; background:#fff;}
#cboxBottomCenter{height:10px; background:#fff;}
#cboxContent{position: relative; background:#fff; overflow:hidden;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{position:relative; margin-bottom:100px;}
 #cboxDerechos{position:absolute; bottom:50px; right: 0; font-family:  'Lucida Grande', Verdana, Arial, sans-serif; color:#000; font-size: 11px!important;}
#cboxTitle{position:relative; bottom:95px; left:0; width:100%; color:#000; background-color: #fff; font-family: 'lucida'; font-size: 18px;}
#cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
#cboxLoadingOverlay{background:url(../images/slide/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(../images/slide/loading_background.png) no-repeat center center;}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
#cboxPrevious{position:absolute; bottom:0; left:0; background:url(../images/slide/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:-75px -25px;}
#cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/slide/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxNext:hover{background-position:-50px -25px;}
#cboxClose{position:absolute; bottom:0; right:0; background:url(../images/slide/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}


/*
         d8b      888          888 d8b          888      888
         Y8P      888          888 Y8P          888      888
                  888          888              888      888
.d8888b  888  .d88888 888d888  888 888  .d88b.  88888b.  888888
88K      888 d88" 888 888P"    888 888 d88P"88b 888 "88b 888
"Y8888b. 888 888  888 888      888 888 888  888 888  888 888
     X88 888 Y88b 888 888  d8b 888 888 Y88b 888 888  888 Y88b.
 88888P' 888  "Y88888 888  Y8P 888 888  "Y88888 888  888  "Y888
                                            888
                                       Y8b d88P
                                        "Y88P"
*/
.sidr {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 230px;
    overflow-x: none;
    overflow-y: auto;
    font-family: Verdana, "lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: 100;
    font-size: 15px;
    background: #A56F9D;
    color: #333;
    -webkit-box-shadow: inset 0 0 5px 5px #93618E;
    -moz-box-shadow: inset 0 0 5px 5px #93618E;
    box-shadow: inset 0 0 5px 5px #93618E
}
.sidr .sidr-inner {
    padding: 0 0 15px
}
.sidr .sidr-inner>p {
    margin-left: 15px;
    margin-right: 15px
}
.sidr.right {
    left: auto;
    right: -260px
}
.sidr.left {
    left: -260px;
    right: auto
}
.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6 {
    font-size: 11px;
    font-weight: normal;
    padding: 0 15px;
    margin: 0 0 5px;
    color: #333;
    line-height: 24px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
    background-image: -webkit-linear-gradient(#ffffff,#dfdfdf);
    background-image: -moz-linear-gradient(#ffffff,#dfdfdf);
    background-image: -o-linear-gradient(#ffffff,#dfdfdf);
    background-image: linear-gradient(#ffffff,#dfdfdf);
    -webkit-box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2);
    box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2)
}
.sidr p {
    font-size: 13px;
    margin: 0 0 12px
}
.sidr p a {
    color: rgba(51,51,51,0.9)
}
.sidr>p {
    margin-left: 15px;
    margin-right: 15px
}
.sidr ul {
    display: block;
    margin: 28px 0 0 0;
    padding: 0;
    border-top: 1px solid #dfdfdf;
}
.sidr ul li {
    display: block;
    margin: 0;
    line-height: 28px;
    background-color: none;
    color: #FFF;
    padding: 3px 0;
    text-indent: 15px;
}
.sidr ul li.title{background-color: #E5AED8;padding: 0;margin: 0;border: 0;}
.sidr ul li ul li .content_search{ height: auto; margin-bottom: 5px; clear: both;}
.sidr ul li ul li .content_search .forma_buscar { height: 26px; width: 202px; display: block; margin: 6px 0 0 10px; background: #fff;}
.sidr ul li ul li .content_search .forma_buscar input {border: none;position: absolute; }
.sidr ul li ul li .content_search .forma_buscar input[type="submit"] { background: url(../images/ico-search.png) no-repeat right 0; border: none; cursor: pointer; height: 26px; vertical-align: top; width: 25px; right: 18px;}
.sidr ul li ul li .content_search .forma_buscar input[type="text"] {height: 26px; border: 1px solid #CDCDCD; color: #A6A6A6; font: italic normal 11px verdana,arial,serif; padding: 2px 10px; width: 178px; }
.sidr ul li ul li .content_search .forma_buscar input[type="text"]:focus { outline: none;}

.sidr ul li: hover,.sidr ul li.active,.sidr ul li.sidr-class-active {
    border-top: none;
    line-height: 49px
}
.sidr ul li: hover>a,.sidr ul li: hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span {
    -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
    -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
    box-shadow: inset 0 0 15px 3px #ebebeb
}
.sidr ul li a,.sidr ul li span {
    padding: 0 15px;
    display: block;
    text-decoration: none;
    color: #333
}
.sidr ul li ul {
    margin: 0;
    border: none;
    background-color: #A56F9D;
}
.sidr ul li ul li {
    line-height: 30px;
    font-size: 13px;
    border-bottom: 1px solid #72166A;
}
.sidr ul li ul li.last{border: none;}

.sidr ul li ul li: last-child {
    border-bottom: none
}
.sidr ul li ul li: hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active {
    border-top: none;
    line-height: 41px
}
.sidr ul li ul li: hover>a,.sidr ul li ul li: hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span {
    -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
    -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
    box-shadow: inset 0 0 15px 3px #ebebeb
}
.sidr ul li ul li a,.sidr ul li ul li span {
    color: #FFF;
    padding-left: 20px
}
.sidr form {
    margin: 0 15px
}
.sidr label {
    font-size: 13px
}
.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select {
    width: 100%;
    font-size: 13px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: none;
    background: rgba(0,0,0,0.1);
    color: rgba(51,51,51,0.6);
    display: block;
    clear: both
}
.sidr input[type=checkbox] {
    width: auto;
    display: inline;
    clear: none
}
.sidr input[type=button],.sidr input[type=submit] {
    color: #f8f8f8;
    background: #333
}
.sidr input[type=button]: hover,.sidr input[type=submit]: hover {
    background: rgba(51,51,51,0.9)
}



/*
         888               888                                          d8b
         888               888                                          Y8P
         888               888
88888b.  88888b.   .d88b.  888888 .d88b.         .d8888b  888  888  888 888 88888b.   .d88b.
888 "88b 888 "88b d88""88b 888   d88""88b        88K      888  888  888 888 888 "88b d8P  Y8b
888  888 888  888 888  888 888   888  888 888888 "Y8888b. 888  888  888 888 888  888 88888888
888 d88P 888  888 Y88..88P Y88b. Y88..88P             X88 Y88b 888 d88P 888 888 d88P Y8b.
88888P"  888  888  "Y88P"   "Y888 "Y88P"          88888P'  "Y8888888P"  888 88888P"   "Y8888
888                                                                         888
888                                                                         888
888                                                                         888
*/
/*
 * photoswipe.css
 * Copyright (c) %%year%% by Code Computerlove (http://www.codecomputerlove.com)
 * Licensed under the MIT license
 *
 * Default styles for PhotoSwipe
 * Avoid any position or dimension based styles
 * where possible, unless specified already here.
 * The gallery automatically works out gallery item
 * positions etc.
 */


body.ps-active, body.ps-building, div.ps-active, div.ps-building
{
    background: #000;
    overflow: hidden;
}
body.ps-active *, div.ps-active *
{
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    display: none;
}
body.ps-active *:focus, div.ps-active *:focus
{
    outline: 0;
}


/* Document overlay */
div.ps-document-overlay
{
    background: #000;
}


/* UILayer */
div.ps-uilayer {

    background: #000;
    cursor: pointer;

}


/* Zoom/pan/rotate layer */
div.ps-zoom-pan-rotate{
    background: #000;
}
div.ps-zoom-pan-rotate *  { display: block; }


/* Carousel */
div.ps-carousel-item-loading
{
    background: url(loader.gif) no-repeat center center;
}

div.ps-carousel-item-error
{
    background: url(error.gif) no-repeat center center;
}


/* Caption */
div.ps-caption
{
    background: #000000;
    background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
    border-bottom: 1px solid #42403f;
    color: #ffffff;
    font-size: 13px;
    font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
    text-align: center;
}
div.ps-caption *  { display: inline; }

div.ps-caption-bottom
{
    border-top: 1px solid #42403f;
    border-bottom: none;
    min-height: 44px;
}

div.ps-caption-content
{
    padding: 13px;
    display: block;
}


/* Toolbar */
div.ps-toolbar
{
    background: #000000;
    background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
    border-top: 1px solid #42403f;
    color: #ffffff;
    font-size: 13px;
    font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
    text-align: center;
    height: 44px;
    display: table;
    table-layout: fixed;
}
div.ps-toolbar * {
    display: block;
}

div.ps-toolbar-top
{
    border-bottom: 1px solid #42403f;
    border-top: none;
}

div.ps-toolbar-close, div.ps-toolbar-previous, div.ps-toolbar-next, div.ps-toolbar-play
{
    cursor: pointer;
    display: table-cell;
}

div.ps-toolbar div div.ps-toolbar-content
{
    width: 44px;
    height: 44px;
    margin: 0 auto 0;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
}

div.ps-toolbar-close div.ps-toolbar-content
{
    background-position: 0 0;
}

div.ps-toolbar-previous div.ps-toolbar-content
{
    background-position: -44px 0;
}

div.ps-toolbar-previous-disabled div.ps-toolbar-content
{
    background-position: -44px -44px;
}

div.ps-toolbar-next div.ps-toolbar-content
{
    background-position: -132px 0;
}

div.ps-toolbar-next-disabled div.ps-toolbar-content
{
    background-position: -132px -44px;
}

div.ps-toolbar-play div.ps-toolbar-content
{
    background-position: -88px 0;
}

/* Hi-res display */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
    div.ps-toolbar div div.ps-toolbar-content
    {
        -moz-background-size: 176px 88px;
        -o-background-size: 176px 88px;
        -webkit-background-size: 176px 88px;
        background-size: 176px 88px;
        background-image: url(icons@2x.png);
    }
}


/*
888                                                                                 888 d8b 888    d8b
888                                                                                 888 Y8P 888    Y8P
888                                                                                 888     888
888888 .d88b.  888d888 88888b.d88b.  .d8888b          .d8888b .d88b.  88888b.   .d88888 888 888888 888  .d88b.  88888b.  .d8888b
888   d8P  Y8b 888P"   888 "888 "88b 88K             d88P"   d88""88b 888 "88b d88" 888 888 888    888 d88""88b 888 "88b 88K
888   88888888 888     888  888  888 "Y8888b. 888888 888     888  888 888  888 888  888 888 888    888 888  888 888  888 "Y8888b.
Y88b. Y8b.     888     888  888  888      X88        Y88b.   Y88..88P 888  888 Y88b 888 888 Y88b.  888 Y88..88P 888  888      X88
 "Y888 "Y8888  888     888  888  888  88888P'         "Y8888P "Y88P"  888  888  "Y88888 888  "Y888 888  "Y88P"  888  888  88888P'

*/
body.terms{background: #fff;}
.container_terms{max-width: 846px; height: auto; position: relative; overflow: hidden; margin: 0 auto; text-align: center; }
.container_terms h1.logo{width: 220px; height: 42px; margin: 20px auto; }
.container_terms h1.logo img{width: 220px; height: 42px; margin: 0;}
.container_terms img{width: 100%; height: auto; margin: 45px auto 0 auto; }
.container_terms .terminos{width: 94%; height: 110px; margin: 45px auto 0 auto; padding: 2.5%; overflow-y: scroll; text-align: left; border: 1px solid #E9E9E9; }
.container_terms .terminos h3{margin: 0 0 20px 0;}
.buttons{width: 372px; margin: 55px auto 0 auto; }
.buttons a.access-yes, .buttons a.access-no {
display: block;
float: left;
height: 73px;
width: 181px;
position: relative;
margin: 0 auto;
}
.buttons a.access-yes {background: url(../images/btn-index-accept.png) no-repeat 0 0;margin-right: 10px;}
.buttons a.access-yes:hover {background: url(../images/btn-index-accept.png) no-repeat 0 -73px;}
.buttons a.access-no {background: url(../images/btn-index-refuser.png) no-repeat 0 0;}
.buttons a.access-no:hover {background: url(../images/btn-index-refuser.png) no-repeat 0 -73px;}

@media only screen  and (max-width : 846px){
.container_terms{padding: 0 2.5%; }
}

@media only screen  and (max-width : 530px){
.container_terms .terminos{height: 180px;}
}


/*
                  888                        888                  d8b
                  888                        888                  Y8P
                  888                        888
 .d8888b  8888b.  888  .d88b.  88888b.   .d88888  8888b.  888d888 888  .d88b.
d88P"        "88b 888 d8P  Y8b 888 "88b d88" 888     "88b 888P"   888 d88""88b
888      .d888888 888 88888888 888  888 888  888 .d888888 888     888 888  888
Y88b.    888  888 888 Y8b.     888  888 Y88b 888 888  888 888     888 Y88..88P
 "Y8888P "Y888888 888  "Y8888  888  888  "Y88888 "Y888888 888     888  "Y88P"

*/
/*! jQuery UI - v1.10.3 - 2013-10-09
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.menu.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2013 jQuery Foundation and other contributors; Licensed MIT */
.container-inline-date{clear:both;}body.m-calendario .container-inline-date .form-item{float:none;margin:0;padding:0;}body.m-calendario .container-inline-date > .form-item{display:inline-block;margin-right:0.5em;margin-bottom:10px;vertical-align:top;}body.m-calendario .container-inline-date .form-item .form-item{float:left;}body.m-calendario .container-inline-date .form-item, body.m-calendario .container-inline-date .form-item input{width:auto;}body.m-calendario .container-inline-date .description{clear:both;}body.m-calendario .container-inline-date .form-item input, body.m-calendario .container-inline-date .form-item select, body.m-calendario .container-inline-date .form-item option{margin-right:5px;}body.m-calendario .container-inline-date .date-spacer{margin-left:-5px;}body.m-calendario .views-right-60 .container-inline-date div{margin:0;padding:0;}body.m-calendario .container-inline-date .date-timezone .form-item{clear:both;float:none;width:auto;}body.m-calendario .container-inline-date .date-padding{padding:10px;float:left;}body.m-calendario .views-exposed-form .container-inline-date .date-padding{padding:0;}body.m-calendario #calendar_div,#calendar_div td,#calendar_div th{margin:0;padding:0;}body.m-calendario #calendar_div, body.m-calendario .calendar_control, body.m-calendario .calendar_links, body.m-calendario .calendar_header, body.m-calendario .calendar{border-collapse:separate;margin:0;width:185px;}body.m-calendario .calendar td{padding:0;}body.m-calendario span.date-display-single{}body.m-calendario span.date-display-start{}body.m-calendario span.date-display-end{}body.m-calendario .date-prefix-inline{display:inline-block;}body.m-calendario .date-clear{clear:both;display:block;float:none;}body.m-calendario .date-no-float{clear:both;float:none;width:98%;}body.m-calendario .date-float{clear:none;float:left;width:auto;}body.m-calendario .date-float .form-type-checkbox{padding-right:1em;}body.m-calendario .form-type-date-select .form-type-select[class$=hour]{margin-left:.75em;}body.m-calendario .date-container .date-format-delete{float:left;margin-top:1.8em;margin-left:1.5em;}body.m-calendario .date-container .date-format-name{float:left;}body.m-calendario .date-container .date-format-type{float:left;padding-left:10px;}body.m-calendario .date-container .select-container{clear:left;float:left;}body.m-calendario div.date-calendar-day{background:#F3F3F3;border-top:1px solid #EEE;border-left:1px solid #EEE;border-right:1px solid #BBB;border-bottom:1px solid #BBB;color:#999;float:left;line-height:1;margin:6px 10px 0 0;text-align:center;width:40px;}body.m-calendario div.date-calendar-day span{display:block;text-align:center;}body.m-calendario div.date-calendar-day span.month{background-color:#B5BEBE;color:white;font-size:.9em;padding:2px;text-transform:uppercase;}body.m-calendario div.date-calendar-day span.day{font-size:2em;font-weight:bold;}body.m-calendario div.date-calendar-day span.year{font-size:.9em;padding:2px;}body.m-calendario .form-item.form-item-instance-widget-settings-input-format-custom, body.m-calendario .form-item.form-item-field-settings-enddate-required{margin-left:1.3em;}body.m-calendario #edit-field-settings-granularity .form-type-checkbox{margin-right:.6em;}body.m-calendario .date-year-range-select{margin-right:1em;}
#ui-datepicker-div{font-size:100%;font-family:Verdana,sans-serif;background:#eee;border-right:2px #666 solid;border-bottom:2px #666 solid;z-index:1000 !important;}body.m-calendario .ui-datepicker{width:17em;padding:.2em .2em 0;}body.m-calendario .ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0;}body.m-calendario .ui-datepicker .ui-datepicker-prev, body.m-calendario .ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em;}body.m-calendario .ui-datepicker .ui-datepicker-prev-hover, body.m-calendario .ui-datepicker .ui-datepicker-next-hover{top:1px;}body.m-calendario .ui-datepicker .ui-datepicker-prev{left:2px;}body.m-calendario .ui-datepicker .ui-datepicker-next{right:2px;}body.m-calendario .ui-datepicker .ui-datepicker-prev-hover{left:1px;}body.m-calendario .ui-datepicker .ui-datepicker-next-hover{right:1px;}body.m-calendario .ui-datepicker .ui-datepicker-prev span, body.m-calendario .ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px;}body.m-calendario .ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center;}body.m-calendario .ui-datepicker .ui-datepicker-title select{float:left;font-size:1em;margin:1px 0;}body.m-calendario .ui-datepicker select.ui-datepicker-month-year{width:100%;}body.m-calendario .ui-datepicker select.ui-datepicker-month, body.m-calendario .ui-datepicker select.ui-datepicker-year{width:49%;}body.m-calendario .ui-datepicker .ui-datepicker-title select.ui-datepicker-year{float:right;}body.m-calendario .ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em;}body.m-calendario .ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0;}body.m-calendario .ui-datepicker td{border:0;padding:1px;}body.m-calendario .ui-datepicker td span, body.m-calendario .ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none;}body.m-calendario .ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0;}body.m-calendario .ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible;}body.m-calendario .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left;}body.m-calendario .ui-datepicker.ui-datepicker-multi{width:auto;}body.m-calendario .ui-datepicker-multi .ui-datepicker-group{float:left;}body.m-calendario .ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em;}body.m-calendario .ui-datepicker-multi-2 .ui-datepicker-group{width:50%;}body.m-calendario .ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%;}body.m-calendario .ui-datepicker-multi-4 .ui-datepicker-group{width:25%;}body.m-calendario .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{border-left-width:0;}body.m-calendario .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0;}body.m-calendario .ui-datepicker-multi .ui-datepicker-buttonpane{clear:left;}body.m-calendario .ui-datepicker-row-break{clear:both;width:100%;}body.m-calendario .ui-datepicker-rtl{direction:rtl;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current{float:right;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-group{float:right;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{border-right-width:0;border-left-width:1px;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px;}
.date-repeat-input{float:left;margin-right:5px;width:auto;}body.m-calendario .date-repeat-input select{min-width:7em;}body.m-calendario .date-repeat fieldset{clear:both;float:none;}body.m-calendario .date-repeat-radios{margin-bottom:1em;}body.m-calendario .date-repeat-radios input[type=radio]{float:left;margin:0.75em 0.75em 0 0;}body.m-calendario .date-repeat-radios .form-wrapper{float:left;}body.m-calendario .date-repeat-radios .form-type-checkboxes .form-type-checkbox{width:15%;float:left;margin:0;}body.m-calendario .date-repeat-radios .date-repeat-radios-item{margin-bottom:1em;}body.m-calendario .weekly .form-type-checkboxes .form-type-checkbox{float:left;margin-right:10px;}body.m-calendario .date-repeat-input.byday-count label, body.m-calendario .date-repeat-input.byday-count select, body.m-calendario .date-clear.bymonthday label, body.m-calendario .date-clear.bymonthday select{display:inline;}body.m-calendario .date-repeat-input.byday-day label, body.m-calendario .date-clear.bymonthday .field-suffix{font-weight:bold;}body.m-calendario .range-of-repeat .form-radios > div{margin-top:0.5em;}body.m-calendario .range-of-repeat .count input[type=text]{margin:0 0.5em;}body.m-calendario .range-of-repeat .until .form-wrapper{margin:0 0.5em;display:inline-block;vertical-align:middle;}body.m-calendario .range-of-repeat .until .form-radio, body.m-calendario .range-of-repeat .until .date-prefix-inline{margin:0 0 1.4em 0;vertical-align:middle;}body.m-calendario .range-of-repeat .until.widget-date_popup.label-above .form-radio, body.m-calendario .range-of-repeat .until.widget-date_popup.label-above .date-prefix-inline{margin:0;vertical-align:middle;}body.m-calendario .range-of-repeat .until.widget-date_select.label-within .form-radio, body.m-calendario .range-of-repeat .until.widget-date_select.label-within .date-prefix-inline{margin:0;vertical-align:middle;}body.m-calendario .range-of-repeat .until.widget-date_select.label-above .form-radio, body.m-calendario .range-of-repeat .until.widget-date_select.label-above .date-prefix-inline{margin:1.4em 0 0 0;vertical-align:middle;}body.m-calendario .range-of-repeat .until .form-type-date-text .date-padding{padding:0;}body.m-calendario .range-of-repeat .until.widget-date_select.label-within .date-padding{padding:0;}body.m-calendario .range-of-repeat .until.widget-date_select.label-above .date-padding{padding:0;}body.m-calendario .range-of-repeat .until .form-type-date-select, body.m-calendario .range-of-repeat .until .form-type-date-popup, body.m-calendario .range-of-repeat .until .form-type-date-text{border:none;margin:0;}
.field .field-label{font-weight:bold;}body.m-calendario .field-label-inline .field-label, body.m-calendario .field-label-inline .field-items{float:left;}body.m-calendario form .field-multiple-table{margin:0;}body.m-calendario form .field-multiple-table th.field-label{padding-left:0;}body.m-calendario form .field-multiple-table td.field-multiple-drag{width:30px;padding-right:0;}body.m-calendario form .field-multiple-table td.field-multiple-drag a.tabledrag-handle{padding-right:.5em;}body.m-calendario form .field-add-more-submit{margin:.5em 0 0;}
.node-unpublished{background-color:#fff4f4;}body.m-calendario .preview .node{background-color:#ffffea;}body.m-calendario td.revision-current{background:#ffc;}body.m-calendario
.search-form{margin-bottom:1em;}body.m-calendario .search-form input{margin-top:0;margin-bottom:0;}body.m-calendario .search-results{list-style:none;}body.m-calendario .search-results p{margin-top:0;}body.m-calendario .search-results .title{font-size:1.2em;}body.m-calendario .search-results li{margin-bottom:1em;}body.m-calendario .search-results .search-snippet-info{padding-left:1em;}body.m-calendario .search-results .search-info{font-size:0.85em;}body.m-calendario .search-advanced .criterion{float:left;margin-right:2em;}body.m-calendario .search-advanced .action{float:left;clear:left;}body.m-calendario
#permissions td.module{font-weight:bold;}body.m-calendario #permissions td.permission{padding-left:1.5em;}body.m-calendario #permissions tr.odd .form-item,#permissions tr.even .form-item{white-space:normal;}body.m-calendario #user-admin-settings fieldset .fieldset-description{font-size:0.85em;padding-bottom:.5em;}body.m-calendario #user-admin-roles td.edit-name{clear:both;}body.m-calendario #user-admin-roles .form-item-name{float:left;margin-right:1em;}body.m-calendario .password-strength{width:17em;float:right;margin-top:1.4em;}body.m-calendario .password-strength-title{display:inline;}body.m-calendario .password-strength-text{float:right;font-weight:bold;}body.m-calendario .password-indicator{background-color:#C4C4C4;height:0.3em;width:100%;}body.m-calendario .password-indicator div{height:100%;width:0%;background-color:#47C965;}body.m-calendario input.password-confirm,input.password-field{width:16em;margin-bottom:0.4em;}body.m-calendario div.password-confirm{float:right;margin-top:1.5em;visibility:hidden;width:17em;}body.m-calendario div.form-item div.password-suggestions{padding:0.2em 0.5em;margin:0.7em 0;width:38.5em;border:1px solid #B4B4B4;}body.m-calendario div.password-suggestions ul{margin-bottom:0;}body.m-calendario .confirm-parent, body.m-calendario .password-parent{clear:left;margin:0;width:36.3em;}body.m-calendario .profile{clear:both;margin:1em 0;}body.m-calendario .profile .user-picture{float:right;margin:0 1em 1em 0;}body.m-calendario .profile h3{border-bottom:1px solid #ccc;}body.m-calendario .profile dl{margin:0 0 1.5em 0;}body.m-calendario .profile dt{margin:0 0 0.2em 0;font-weight:bold;}body.m-calendario .profile dd{margin:0 0 1em 0;}
.views-exposed-form .views-exposed-widget{float:left;padding:.5em 1em 0 0;}body.m-calendario .views-exposed-form .views-exposed-widget .form-submit{margin-top:1.6em;}body.m-calendario .views-exposed-form .form-item, body.m-calendario .views-exposed-form .form-submit{margin-top:0;margin-bottom:0;}body.m-calendario .views-exposed-form label{font-weight:bold;}body.m-calendario .views-exposed-widgets{margin-bottom:.5em;}body.m-calendario .views-align-left{text-align:left;}body.m-calendario .views-align-right{text-align:right;}body.m-calendario .views-align-center{text-align:center;}body.m-calendario .views-view-grid tbody{border-top:none;}body.m-calendario .view .progress-disabled{float:none;}

body.m-calendario .ui-widget-content .ui-state-default{
background: #FFF;
border: 1px solid #CDCDCD;
}
body.m-calendario .ui-helper-hidden{display:none;}body.m-calendario body.m-calendario .ui-helper-hidden-accessible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);}body.m-calendario body.m-calendario .ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}body.m-calendario body.m-calendario .ui-helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}body.m-calendario body.m-calendario .ui-helper-clearfix{display:inline-block;}body.m-calendario * html .ui-helper-clearfix{height:1%;}body.m-calendario .ui-helper-clearfix{display:block;}body.m-calendario .ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}body.m-calendario .ui-state-disabled{cursor:default!important;}body.m-calendario .ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}body.m-calendario .ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%;}
body.m-calendario .ui-widget{font-family:Verdana,Arial,sans-serif;font-size:1.1em;}body.m-calendario .ui-widget .ui-widget{font-size:1em;}body.m-calendario .ui-widget input, body.m-calendario .ui-widget select, body.m-calendario .ui-widget textarea, body.m-calendario .ui-widget button{font-family:Verdana,Arial,sans-serif;font-size:1em;}body.m-calendario .ui-widget-content{border:1px solid #aaa;background:#fff url(../images/calendario/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;color:#222;}body.m-calendario .ui-widget-content a{color:#222;}body.m-calendario .ui-widget-header{border:1px solid #aaa;background:#ccc url(../images/calendario/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;color:#222;font-weight:bold;}body.m-calendario .ui-widget-header a{color:#222;}body.m-calendario body.m-calendario .ui-state-default, body.m-calendario .ui-widget-content .ui-state-default, body.m-calendario .ui-widget-header .ui-state-default{background: #FFF;border: 1px solid #CDCDCD;font-weight:normal;color:#555;}body.m-calendario body.m-calendario .ui-state-default a, body.m-calendario .ui-state-default a:link, body.m-calendario .ui-state-default a:visited{color:#555;text-decoration:none;}body.m-calendario body.m-calendario .ui-state-hover,body.m-calendario .ui-widget-content .ui-state-hover,body.m-calendario.ui-widget-header .ui-state-hover, body.m-calendario .ui-state-focus, body.m-calendario .ui-widget-content .ui-state-focus, body.m-calendario .ui-widget-header .ui-state-focus{border:1px solid #999;background:#dadada url(../images/calendario/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#212121;}body.m-calendario body.m-calendario .ui-state-hover a,body.m-calendario .ui-state-hover a:hover{color:#212121;text-decoration:none;}body.m-calendario .ui-state-active, body.m-calendario .ui-widget-content .ui-state-active, body.m-calendario .ui-widget-header .ui-state-active{border:1px solid #aaa;background:#fff url(../images/calendario/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#212121;}body.m-calendario .ui-state-active a, body.m-calendario .ui-state-active a:link, body.m-calendario .ui-state-active a:visited{color:#212121;text-decoration:none;}body.m-calendario .ui-widget :active{outline:none;}body.m-calendario .ui-state-highlight, body.m-calendario .ui-widget-content .ui-state-highlight, body.m-calendario .ui-widget-header .ui-state-highlight{border:1px solid #fcefa1;background:#fbf9ee url(../images/calendario/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;color:#363636;}body.m-calendario .ui-state-highlight a, body.m-calendario .ui-widget-content .ui-state-highlight a, body.m-calendario .ui-widget-header .ui-state-highlight a{color:#363636;}body.m-calendario .ui-state-error, body.m-calendario .ui-widget-content .ui-state-error, body.m-calendario .ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#fef1ec url(../images/calendario/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;color:#cd0a0a;}body.m-calendario .ui-state-error a, body.m-calendario .ui-widget-content .ui-state-error a, body.m-calendario .ui-widget-header .ui-state-error a{color:#cd0a0a;}body.m-calendario .ui-state-error-text, body.m-calendario .ui-widget-content .ui-state-error-text, body.m-calendario .ui-widget-header .ui-state-error-text{color:#cd0a0a;}body.m-calendario .ui-priority-primary, body.m-calendario .ui-widget-content .ui-priority-primary, body.m-calendario .ui-widget-header .ui-priority-primary{font-weight:bold;}body.m-calendario .ui-priority-secondary, body.m-calendario .ui-widget-content .ui-priority-secondary, body.m-calendario .ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal;}body.m-calendario .ui-state-disabled, body.m-calendario .ui-widget-content .ui-state-disabled, body.m-calendario .ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none;}body.m-calendario .ui-icon{width:16px;height:16px;background-image:url(../images/calendario/ui-icons_222222_256x240.png);}body.m-calendario .ui-widget-content .ui-icon{background-image:url(../images/calendario/ui-icons_222222_256x240.png);}body.m-calendario .ui-widget-header .ui-icon{background-image:url(../images/calendario/ui-icons_222222_256x240.png);}body.m-calendario body.m-calendario .ui-state-default .ui-icon{background-image:url(../images/calendario/ui-icons_888888_256x240.png);}body.m-calendario body.m-calendario .ui-state-hover .ui-icon, body.m-calendario .ui-state-focus .ui-icon{background-image:url(../images/calendario/ui-icons_454545_256x240.png);}body.m-calendario .ui-state-active .ui-icon{background-image:url(../images/calendario/ui-icons_454545_256x240.png);}body.m-calendario .ui-state-highlight .ui-icon{background-image:url(../images/calendario/ui-icons_2e83ff_256x240.png);}body.m-calendario .ui-state-error .ui-icon, body.m-calendario .ui-state-error-text .ui-icon{background-image:url(../images/calendario/ui-icons_cd0a0a_256x240.png);}body.m-calendario .ui-icon-carat-1-n{background-position:0 0;}body.m-calendario .ui-icon-carat-1-ne{background-position:-16px 0;}body.m-calendario .ui-icon-carat-1-e{background-position:-32px 0;}body.m-calendario .ui-icon-carat-1-se{background-position:-48px 0;}body.m-calendario .ui-icon-carat-1-s{background-position:-64px 0;}body.m-calendario .ui-icon-carat-1-sw{background-position:-80px 0;}body.m-calendario .ui-icon-carat-1-w{background-position:-96px 0;}body.m-calendario .ui-icon-carat-1-nw{background-position:-112px 0;}body.m-calendario .ui-icon-carat-2-n-s{background-position:-128px 0;}body.m-calendario .ui-icon-carat-2-e-w{background-position:-144px 0;}body.m-calendario .ui-icon-triangle-1-n{background-position:0 -16px;}body.m-calendario .ui-icon-triangle-1-ne{background-position:-16px -16px;}body.m-calendario .ui-icon-triangle-1-e{background-position:-32px -16px;}body.m-calendario .ui-icon-triangle-1-se{background-position:-48px -16px;}body.m-calendario .ui-icon-triangle-1-s{background-position:-64px -16px;}body.m-calendario .ui-icon-triangle-1-sw{background-position:-80px -16px;}body.m-calendario .ui-icon-triangle-1-w{background-position:-96px -16px;}body.m-calendario .ui-icon-triangle-1-nw{background-position:-112px -16px;}body.m-calendario .ui-icon-triangle-2-n-s{background-position:-128px -16px;}body.m-calendario .ui-icon-triangle-2-e-w{background-position:-144px -16px;}body.m-calendario .ui-icon-arrow-1-n{background-position:0 -32px;}body.m-calendario .ui-icon-arrow-1-ne{background-position:-16px -32px;}body.m-calendario .ui-icon-arrow-1-e{background-position:-32px -32px;}body.m-calendario .ui-icon-arrow-1-se{background-position:-48px -32px;}body.m-calendario .ui-icon-arrow-1-s{background-position:-64px -32px;}body.m-calendario .ui-icon-arrow-1-sw{background-position:-80px -32px;}body.m-calendario .ui-icon-arrow-1-w{background-position:-96px -32px;}body.m-calendario .ui-icon-arrow-1-nw{background-position:-112px -32px;}body.m-calendario .ui-icon-arrow-2-n-s{background-position:-128px -32px;}body.m-calendario .ui-icon-arrow-2-ne-sw{background-position:-144px -32px;}body.m-calendario .ui-icon-arrow-2-e-w{background-position:-160px -32px;}body.m-calendario .ui-icon-arrow-2-se-nw{background-position:-176px -32px;}body.m-calendario .ui-icon-arrowstop-1-n{background-position:-192px -32px;}body.m-calendario .ui-icon-arrowstop-1-e{background-position:-208px -32px;}body.m-calendario .ui-icon-arrowstop-1-s{background-position:-224px -32px;}body.m-calendario .ui-icon-arrowstop-1-w{background-position:-240px -32px;}body.m-calendario .ui-icon-arrowthick-1-n{background-position:0 -48px;}body.m-calendario .ui-icon-arrowthick-1-ne{background-position:-16px -48px;}body.m-calendario .ui-icon-arrowthick-1-e{background-position:-32px -48px;}body.m-calendario .ui-icon-arrowthick-1-se{background-position:-48px -48px;}body.m-calendario .ui-icon-arrowthick-1-s{background-position:-64px -48px;}body.m-calendario .ui-icon-arrowthick-1-sw{background-position:-80px -48px;}body.m-calendario .ui-icon-arrowthick-1-w{background-position:-96px -48px;}body.m-calendario .ui-icon-arrowthick-1-nw{background-position:-112px -48px;}body.m-calendario .ui-icon-arrowthick-2-n-s{background-position:-128px -48px;}body.m-calendario .ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px;}body.m-calendario .ui-icon-arrowthick-2-e-w{background-position:-160px -48px;}body.m-calendario .ui-icon-arrowthick-2-se-nw{background-position:-176px -48px;}body.m-calendario .ui-icon-arrowthickstop-1-n{background-position:-192px -48px;}body.m-calendario .ui-icon-arrowthickstop-1-e{background-position:-208px -48px;}body.m-calendario .ui-icon-arrowthickstop-1-s{background-position:-224px -48px;}body.m-calendario .ui-icon-arrowthickstop-1-w{background-position:-240px -48px;}body.m-calendario .ui-icon-arrowreturnthick-1-w{background-position:0 -64px;}body.m-calendario .ui-icon-arrowreturnthick-1-n{background-position:-16px -64px;}body.m-calendario .ui-icon-arrowreturnthick-1-e{background-position:-32px -64px;}body.m-calendario .ui-icon-arrowreturnthick-1-s{background-position:-48px -64px;}body.m-calendario .ui-icon-arrowreturn-1-w{background-position:-64px -64px;}body.m-calendario .ui-icon-arrowreturn-1-n{background-position:-80px -64px;}body.m-calendario .ui-icon-arrowreturn-1-e{background-position:-96px -64px;}body.m-calendario .ui-icon-arrowreturn-1-s{background-position:-112px -64px;}body.m-calendario .ui-icon-arrowrefresh-1-w{background-position:-128px -64px;}body.m-calendario .ui-icon-arrowrefresh-1-n{background-position:-144px -64px;}body.m-calendario .ui-icon-arrowrefresh-1-e{background-position:-160px -64px;}body.m-calendario .ui-icon-arrowrefresh-1-s{background-position:-176px -64px;}body.m-calendario .ui-icon-arrow-4{background-position:0 -80px;}body.m-calendario .ui-icon-arrow-4-diag{background-position:-16px -80px;}body.m-calendario .ui-icon-extlink{background-position:-32px -80px;}body.m-calendario .ui-icon-newwin{background-position:-48px -80px;}body.m-calendario .ui-icon-refresh{background-position:-64px -80px;}body.m-calendario .ui-icon-shuffle{background-position:-80px -80px;}body.m-calendario .ui-icon-transfer-e-w{background-position:-96px -80px;}body.m-calendario .ui-icon-transferthick-e-w{background-position:-112px -80px;}body.m-calendario .ui-icon-folder-collapsed{background-position:0 -96px;}body.m-calendario .ui-icon-folder-open{background-position:-16px -96px;}body.m-calendario .ui-icon-document{background-position:-32px -96px;}body.m-calendario .ui-icon-document-b{background-position:-48px -96px;}body.m-calendario .ui-icon-note{background-position:-64px -96px;}body.m-calendario .ui-icon-mail-closed{background-position:-80px -96px;}body.m-calendario .ui-icon-mail-open{background-position:-96px -96px;}body.m-calendario .ui-icon-suitcase{background-position:-112px -96px;}body.m-calendario .ui-icon-comment{background-position:-128px -96px;}body.m-calendario .ui-icon-person{background-position:-144px -96px;}body.m-calendario .ui-icon-print{background-position:-160px -96px;}body.m-calendario .ui-icon-trash{background-position:-176px -96px;}body.m-calendario .ui-icon-locked{background-position:-192px -96px;}body.m-calendario .ui-icon-unlocked{background-position:-208px -96px;}body.m-calendario .ui-icon-bookmark{background-position:-224px -96px;}body.m-calendario .ui-icon-tag{background-position:-240px -96px;}body.m-calendario .ui-icon-home{background-position:0 -112px;}body.m-calendario .ui-icon-flag{background-position:-16px -112px;}body.m-calendario .ui-icon-calendar{background-position:-32px -112px;}body.m-calendario .ui-icon-cart{background-position:-48px -112px;}body.m-calendario .ui-icon-pencil{background-position:-64px -112px;}body.m-calendario .ui-icon-clock{background-position:-80px -112px;}body.m-calendario .ui-icon-disk{background-position:-96px -112px;}body.m-calendario .ui-icon-calculator{background-position:-112px -112px;}body.m-calendario .ui-icon-zoomin{background-position:-128px -112px;}body.m-calendario .ui-icon-zoomout{background-position:-144px -112px;}body.m-calendario .ui-icon-search{background-position:-160px -112px;}body.m-calendario .ui-icon-wrench{background-position:-176px -112px;}body.m-calendario .ui-icon-gear{background-position:-192px -112px;}body.m-calendario .ui-icon-heart{background-position:-208px -112px;}body.m-calendario .ui-icon-star{background-position:-224px -112px;}body.m-calendario .ui-icon-link{background-position:-240px -112px;}body.m-calendario .ui-icon-cancel{background-position:0 -128px;}body.m-calendario .ui-icon-plus{background-position:-16px -128px;}body.m-calendario .ui-icon-plusthick{background-position:-32px -128px;}body.m-calendario .ui-icon-minus{background-position:-48px -128px;}body.m-calendario .ui-icon-minusthick{background-position:-64px -128px;}body.m-calendario .ui-icon-close{background-position:-80px -128px;}body.m-calendario .ui-icon-closethick{background-position:-96px -128px;}body.m-calendario .ui-icon-key{background-position:-112px -128px;}body.m-calendario .ui-icon-lightbulb{background-position:-128px -128px;}body.m-calendario .ui-icon-scissors{background-position:-144px -128px;}body.m-calendario .ui-icon-clipboard{background-position:-160px -128px;}body.m-calendario .ui-icon-copy{background-position:-176px -128px;}body.m-calendario .ui-icon-contact{background-position:-192px -128px;}body.m-calendario .ui-icon-image{background-position:-208px -128px;}body.m-calendario .ui-icon-video{background-position:-224px -128px;}body.m-calendario .ui-icon-script{background-position:-240px -128px;}body.m-calendario .ui-icon-alert{background-position:0 -144px;}body.m-calendario .ui-icon-info{background-position:-16px -144px;}body.m-calendario .ui-icon-notice{background-position:-32px -144px;}body.m-calendario .ui-icon-help{background-position:-48px -144px;}body.m-calendario .ui-icon-check{background-position:-64px -144px;}body.m-calendario .ui-icon-bullet{background-position:-80px -144px;}body.m-calendario .ui-icon-radio-off{background-position:-96px -144px;}body.m-calendario .ui-icon-radio-on{background-position:-112px -144px;}body.m-calendario .ui-icon-pin-w{background-position:-128px -144px;}body.m-calendario .ui-icon-pin-s{background-position:-144px -144px;}body.m-calendario .ui-icon-play{background-position:0 -160px;}body.m-calendario .ui-icon-pause{background-position:-16px -160px;}body.m-calendario .ui-icon-seek-next{background-position:-32px -160px;}body.m-calendario .ui-icon-seek-prev{background-position:-48px -160px;}body.m-calendario .ui-icon-seek-end{background-position:-64px -160px;}body.m-calendario .ui-icon-seek-start{background-position:-80px -160px;}body.m-calendario .ui-icon-seek-first{background-position:-80px -160px;}body.m-calendario .ui-icon-stop{background-position:-96px -160px;}body.m-calendario .ui-icon-eject{background-position:-112px -160px;}body.m-calendario .ui-icon-volume-off{background-position:-128px -160px;}body.m-calendario .ui-icon-volume-on{background-position:-144px -160px;}body.m-calendario .ui-icon-power{background-position:0 -176px;}body.m-calendario .ui-icon-signal-diag{background-position:-16px -176px;}body.m-calendario .ui-icon-signal{background-position:-32px -176px;}body.m-calendario .ui-icon-battery-0{background-position:-48px -176px;}body.m-calendario .ui-icon-battery-1{background-position:-64px -176px;}body.m-calendario .ui-icon-battery-2{background-position:-80px -176px;}body.m-calendario .ui-icon-battery-3{background-position:-96px -176px;}body.m-calendario .ui-icon-circle-plus{background-position:0 -192px;}body.m-calendario .ui-icon-circle-minus{background-position:-16px -192px;}body.m-calendario .ui-icon-circle-close{background-position:-32px -192px;}body.m-calendario .ui-icon-circle-triangle-e{background-position:-48px -192px;}body.m-calendario .ui-icon-circle-triangle-s{background-position:-64px -192px;}body.m-calendario .ui-icon-circle-triangle-w{background-position:-80px -192px;}body.m-calendario .ui-icon-circle-triangle-n{background-position:-96px -192px;}body.m-calendario .ui-icon-circle-arrow-e{background-position:-112px -192px;}body.m-calendario .ui-icon-circle-arrow-s{background-position:-128px -192px;}body.m-calendario .ui-icon-circle-arrow-w{background-position:-144px -192px;}body.m-calendario .ui-icon-circle-arrow-n{background-position:-160px -192px;}body.m-calendario .ui-icon-circle-zoomin{background-position:-176px -192px;}body.m-calendario .ui-icon-circle-zoomout{background-position:-192px -192px;}body.m-calendario .ui-icon-circle-check{background-position:-208px -192px;}body.m-calendario .ui-icon-circlesmall-plus{background-position:0 -208px;}body.m-calendario .ui-icon-circlesmall-minus{background-position:-16px -208px;}body.m-calendario .ui-icon-circlesmall-close{background-position:-32px -208px;}body.m-calendario .ui-icon-squaresmall-plus{background-position:-48px -208px;}body.m-calendario .ui-icon-squaresmall-minus{background-position:-64px -208px;}body.m-calendario .ui-icon-squaresmall-close{background-position:-80px -208px;}body.m-calendario .ui-icon-grip-dotted-vertical{background-position:0 -224px;}body.m-calendario .ui-icon-grip-dotted-horizontal{background-position:-16px -224px;}body.m-calendario .ui-icon-grip-solid-vertical{background-position:-32px -224px;}body.m-calendario .ui-icon-grip-solid-horizontal{background-position:-48px -224px;}body.m-calendario .ui-icon-gripsmall-diagonal-se{background-position:-64px -224px;}body.m-calendario .ui-icon-grip-diagonal-se{background-position:-80px -224px;}body.m-calendario .ui-corner-tl{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;}body.m-calendario .ui-corner-tr{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px;}body.m-calendario .ui-corner-bl{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;}body.m-calendario .ui-corner-br{-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;}body.m-calendario .ui-corner-top{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px;}body.m-calendario .ui-corner-bottom{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;}body.m-calendario .ui-corner-right{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;}body.m-calendario .ui-corner-left{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;}body.m-calendario .ui-corner-all{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}body.m-calendario .ui-widget-overlay{background:#aaa url(../images/calendario/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;opacity:.3;filter:Alpha(Opacity=30);}body.m-calendario .ui-widget-shadow{margin:-8px 0 0 -8px;padding:8px;background:#aaa url(../images/calendario/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;opacity:.3;filter:Alpha(Opacity=30);-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
body.m-calendario .ui-datepicker{width:17em;padding:.2em .2em 0;display:none;}body.m-calendario body.m-calendario .ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0;}body.m-calendario body.m-calendario .ui-datepicker .ui-datepicker-prev, body.m-calendario .ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em;}body.m-calendario .ui-datepicker .ui-datepicker-prev-hover, body.m-calendario .ui-datepicker .ui-datepicker-next-hover{top:1px;}body.m-calendario .ui-datepicker .ui-datepicker-prev{left:2px;}body.m-calendario .ui-datepicker .ui-datepicker-next{right:2px;}body.m-calendario .ui-datepicker .ui-datepicker-prev-hover{left:1px;}body.m-calendario .ui-datepicker .ui-datepicker-next-hover{right:1px;}body.m-calendario .ui-datepicker .ui-datepicker-prev span, body.m-calendario .ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px;}body.m-calendario .ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center;}body.m-calendario .ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0;}body.m-calendario .ui-datepicker select.ui-datepicker-month-year{width:100%;}body.m-calendario .ui-datepicker select.ui-datepicker-month, body.m-calendario .ui-datepicker select.ui-datepicker-year{width:49%;}body.m-calendario .ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em;}body.m-calendario .ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0;}body.m-calendario .ui-datepicker td{border:0;padding:1px;}body.m-calendario .ui-datepicker td span, body.m-calendario .ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none;}body.m-calendario .ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0;}body.m-calendario .ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible;}body.m-calendario .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left;}body.m-calendario .ui-datepicker.ui-datepicker-multi{width:auto;}body.m-calendario .ui-datepicker-multi .ui-datepicker-group{float:left;}body.m-calendario .ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em;}body.m-calendario .ui-datepicker-multi-2 .ui-datepicker-group{width:50%;}body.m-calendario .ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%;}body.m-calendario .ui-datepicker-multi-4 .ui-datepicker-group{width:25%;}body.m-calendario .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{border-left-width:0;}body.m-calendario .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0;}body.m-calendario .ui-datepicker-multi .ui-datepicker-buttonpane{clear:left;}body.m-calendario .ui-datepicker-row-break{clear:both;width:100%;}body.m-calendario .ui-datepicker-rtl{direction:rtl;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current{float:right;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-group{float:right;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{border-right-width:0;border-left-width:1px;}body.m-calendario .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px;}body.m-calendario .ui-datepicker-cover{display:none;display:block;position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:200px;height:200px;}
