/* Admin styles */

@charset 'utf-8';

.usuarios-inside{
	margin-top: 9px;
	min-height: 42px;
	height: 150px;
	overflow: scroll;
	padding: 0 .9em;
	border-style: solid;
	border-width: 1px;
	border-color: #dfdfdf;
	background-color: #fff;
}

.metabox-pelicula{
	margin: 10px 0 10px 10px;
}

.metabox-pelicula label{
	display: inline-block;
	width: 30%;
}
.metabox-pelicula input{
	display: inline-block;
	width: 65%;
}
.metabox-pelicula select{
	display: inline-block;
	width: 65%;
}
.metabox-pelicula input[type=file]{
	display: inline-block;
	width: 64%;
}